<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Project.Projectspring.Calender.CalenderMapper">

    <select id="Calender" resultType="Project.Projectspring.Calender.VO.CalenderVO" parameterType="int">
        select calendar_date, calendar_category, calendar_name, calendar_place, calendar_memo, calendar_start_time, calendar_end_time
        from calendar
        where calendar_group_id = #{group_id}
        order by calendar_id desc;
    </select>

</mapper>