<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Project.Projectspring.Group.GroupMapper">

    <insert id="createGroup">
        INSERT INTO `group` (
                group_code)
        VALUES (
                #{group_code})
    </insert>

    <insert id="createCode">
        INSERT INTO `group` (group_code)
        VALUES (#{group_code})
    </insert>

    <select id="codeCheck" resultType="String">
        select group_code
        from `group`
        where group_code = #{group_code}
    </select>

    <select id="groupIdCheck" resultType="int">
        select group_id
        from `group`
        where group_code = #{group_code}
    </select>

    <update id="updateUserGroupId">
        update user
        set user.user_group_id = #{group_id}
        where user.user_email = #{user_email}
    </update>

</mapper>