<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Project.Projectspring.Photo.PhotoMapper">

    <insert id="createPhoto">
        insert into photo (
            photo, photo_sender_id, photo_sender_name, photo_group_id, group_code, photo_time
        )
        values (
            #{chatting_file} ,#{sender_id}, #{sender_name}, #{group_id}, #{group_code}, #{chatting_time}
               )
    </insert>

    <select id="Photos" resultType="Project.Projectspring.Photo.VO.FindPhotosVO">
        select photo, photo_sender_name as sender_name, photo_time as time
        from photo
        where group_code = #{group_code}
        order by photo_time desc
    </select>

    <insert id="createPhotoCategory">
        insert into photo_category (
            photo_category_name, photo_category_user_id,
                                    photo_category_group_id
        )
        values (
            #{photo_category}, #{user_id}, #{group_id}
               )
    </insert>

    <select id="checkPhotoCategory" resultType="String">
        select photo_category_name
        from photo_category
        where photo_category_name = #{photo_category} and photo_category_user_id = #{user_id}
    </select>

    <select id="checkPhotoId" resultType="int">
        select photo_id, photo_sender_name
        from photo
        where photo = #{photo} and photo_sender_name =#{sender_name}
    </select>

    <select id="checkBookmarked" resultType="Integer">
        select photo_bookmark_id
        from photo_bookmark
        where photo_id = #{photo_id} and photo_bookmark_user_id = #{user_id}
    </select>

    <insert id="setBookmark">
        insert into photo_bookmark (
            photo_id, photo_bookmark_user_id, photo_bookmark_group_id
        )
        values (
            #{photo_id}, #{user_id}, #{group_id}
               )
    </insert>

    <select id="getPhotoId" resultType="int">
        select photo_id
        from photo
        where photo = #{photo} and photo_sender_name = #{sender_name}
    </select>
    
    <update id="addPhotoInCategory">
        update photo as p
        set p.photo_category_id =
            (select pc.photo_category_id from photo_category as pc where pc.photo_category_name = #{photo_category})
        where p.photo_id = #{photo_id}
    </update>

    <select id="checkPhotoAdded" resultType="Integer">
        select p.photo_category_id
        from photo as p
            where (select pc.photo_category_id from photo_category as pc where pc.photo_category_name = #{photo_category})
                 and p.photo_id = #{photo_id}
    </select>

</mapper>