<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Project.Projectspring.chatex.Push.PushMapper">

    <select id="findUserId" resultType="int">
        select user_id
        from user
        where user_name = #{user_name}
    </select>

    <select id="Receivers" resultType="Project.Projectspring.chatex.Push.VO.ReceiverListVO">
        select u.user_id
        from user as u
        inner join `group` as g on g.group_id = u.user_group_id
        where g.group_code = #{group_code}
    </select>


    <insert id="putChatting">
        insert into chatting (
            group_code,
            sender_name,
            sender_id,
            chatting_time,
            content,
            receiver_id,
            chatting_file,
            is_emoji, is_calendar, is_photo, is_text
        )
        values (
            #{group_code}, #{sender_name}, #{sender_id},
            #{chatting_time}, #{content}, #{receiver_id},#{file},
                #{emoji_bool}, #{calendar_bool}, #{photo_bool}, #{text_bool})
    </insert>
</mapper>